<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

<!--    <link rel="stylesheet"-->
<!--          href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"-->
<!--          integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous"/>-->
<!--    <script src="//netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--    <link href="/css/datepicker.css" rel="stylesheet">-->
<!--    <script src="/js/datepicker.js"></script>-->

<!--    <script src="/js/selectize/selectize.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments :: header">-->
<!--</div>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">БР</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"-->
<!--            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="../pedigree">Родословная</a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown active">-->
<!--                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
<!--                   aria-haspopup="true" aria-expanded="false">-->
<!--                    Добавить-->
<!--                </a>-->
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                    <a class="dropdown-item" href="pet">Питомца</a>-->
<!--                    <a class="dropdown-item" href="breeder">Заводчика</a>-->
<!--                    <div class="dropdown-divider"></div>-->
<!--                    <a class="dropdown-item" href="species">Вид</a>-->
<!--                    <a class="dropdown-item" href="color">Окрас</a>-->
<!--                    <a class="dropdown-item" href="breed">Породу</a>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="../my_pets">Мои питомцы</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Мои заявки</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <form class="form-inline">-->
<!--        <button class="btn btn-sm btn-outline-secondary mx-1" type="button">Регистрация</button>-->
<!--        <button class="btn btn-sm btn-outline-primary mx-1" type="button">Вход</button>-->
<!--        <button class="btn btn-sm btn-outline-warning mx-1" type="button">Выход</button>-->
<!--    </form>-->
<!--</nav>-->
<!--<div class="container">-->
<!--    <form method="post" class="needs-validation" enctype="multipart/form-data" validate>-->

<!--        <div th:if="${successMessage != ''}">-->
<!--            <div class="alert alert-success" role="alert" th:text=${successMessage}>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div th:if="${errorMessage != ''}">-->
<!--            <div class="alert alert-warning" role="alert" th:text=${errorMessage}>-->
<!--            </div>-->
<!--        </div>-->
<!--        <label for="petName">Имя питомца</label>-->
<!--        <input type="text" class="form-control" id="petName" name="petName" required>-->
<!--        <div class="invalid-feedback">-->
<!--            Введите имя питомца-->
<!--        </div>-->
<!--        <label for="birthDate">Дата рождения</label>-->
<!--        <input type="text" class="form-control datepicker-here" id="birthDate" name="birthDate" required>-->
<!--        <div class="invalid-feedback">-->
<!--            Введите дату рождения питомца-->
<!--        </div>-->

<!--        <label for="speciesName">Вид питомца</label>-->
<!--        <select id="speciesName" name="speciesId" class="form-control form-control-sm" required>-->
<!--            <option value="" selected>Выбирите вид...</option>-->
<!--            <option th:each="optVal: ${parameters.getSpecies()}"-->
<!--                    th:text="${optVal.getSpeciesName()}"-->
<!--                    th:value="${optVal.getId()}"></option>-->
<!--        </select>-->
<!--        <script>-->
<!--            $('#speciesName').selectize();-->
<!--        </script>-->
<!--        <div class="invalid-feedback">-->
<!--            Выберите вид питомца-->
<!--        </div>-->
<!--        <label for="female">Пол питомца</label>-->
<!--        <div class="col-md-4 mb-3 form-check">-->
<!--            <input type="radio" class="form-check-input" name="gender" id="female" value="female" required>-->
<!--            <label class="form-check-label" for="female">Самка</label>-->
<!--        </div>-->
<!--        <div class="col-md-4 mb-3 form-check">-->
<!--            <input type="radio" class="form-check-input" name="gender" id="male" value="male" required>-->
<!--            <label class="form-check-label" for="male">Самец</label>-->
<!--        </div>-->
<!--        <label class="form-check-label" for="photoSelect">Фото питомца</label>-->
<!--        <div class="input-group" id="photoSelect">-->
<!--            <div class="custom-file">-->
<!--                <input type="file" class="custom-file-input" id="petPhotoFile" name="photo"-->
<!--                       aria-describedby="inputGroupFileAddon01">-->
<!--                <label class="custom-file-label" for="petPhotoFile">Выбрать файл</label>-->
<!--            </div>-->
<!--        </div>-->

<!--        <label for="metric">Метрика</label>-->
<!--        <input type="text" class="form-control" id="metric" name="metric">-->

<!--        <label for="breedName">Порода питомца</label>-->
<!--        <select id="breedName" name="breedId" class="form-control form-control-sm" required>-->
<!--            <option value="" selected>Выбирете породу...</option>-->
<!--            <option th:each="optVal: ${parameters.getBreeds()}"-->
<!--                    th:text="${optVal.getBreedName()}"-->
<!--                    th:value="${optVal.getId()}"></option>-->
<!--        </select>-->
<!--        <script>-->
<!--            $('#breedName').selectize();-->
<!--        </script>-->
<!--        <div class="invalid-feedback">-->
<!--            Выберите породу питомца-->
<!--        </div>-->
<!--        <label for="colorName">Окрас питомца</label>-->
<!--        <select id="colorName" name="colorId" class="form-control form-control-sm" required>-->
<!--            <option value="" selected>Вибирете окрас...</option>-->
<!--            <option th:each="optVal: ${parameters.getColors()}"-->
<!--                    th:text="${optVal.getColorName()}"-->
<!--                    th:value="${optVal.getId()}"></option>-->
<!--        </select>-->
<!--        <script>-->
<!--            $('#colorName').selectize();-->
<!--        </script>-->
<!--        <div class="invalid-feedback">-->
<!--            Выберите окрас питомца-->
<!--        </div>-->
<!--        <label for="breeder">Заводчик</label>-->
<!--        <select id="breeder" name="breederId" class="form-control form-control-sm" required>-->
<!--            <option value="" selected>Выберите заводчика...</option>-->
<!--            <option th:each="optVal: ${parameters.getBreeders()}"-->
<!--                    th:text="${optVal.getKennelName()}"-->
<!--                    th:value="${optVal.getId()}"></option>-->
<!--        </select>-->
<!--        <script>-->
<!--            $('#breeder').selectize();-->
<!--        </script>-->
<!--        <div class="invalid-feedback">-->
<!--            Выберите заводчика-->
<!--        </div>-->

<!--        <label for="fatherId">Отец</label>-->
<!--        <select id="fatherId" name="fatherId" class="form-control form-control-sm">-->
<!--            <option value="" selected>Выбирите отца...</option>-->
<!--            <option th:each="optVal: ${parameters.getMales()}"-->
<!--                    th:text="${optVal.getName() + ' | ' + optVal.getBreeder().getKennelName() + ' | ' + optVal.getBirthday().toString()}"-->
<!--                    th:value="${optVal.getId()}"></option>-->
<!--        </select>-->
<!--        <script>-->
<!--            $('#fatherId').selectize();-->
<!--        </script>-->
<!--        <div class="invalid-feedback">-->
<!--            Выберите отца вашего питомца-->
<!--        </div>-->
<!--        <label for="mother">Мать</label>-->
<!--        <select id="mother" name="motherId" class="form-control form-control-sm">-->
<!--            <option value="" selected>Выбирите мать...</option>-->
<!--            <option th:each="optVal: ${parameters.getFemales()}"-->
<!--                    th:text="${optVal.getName() + ' | ' + optVal.getBreeder().getKennelName() + ' | ' + optVal.getBirthday()}"-->
<!--                    th:value="${optVal.getId()}"></option>-->
<!--        </select>-->
<!--        <script>-->
<!--            $('#mother').selectize();-->
<!--        </script>-->
<!--        <div class="invalid-feedback">-->
<!--            Выберите мать вашего питомца-->
<!--        </div>-->
<!--        <button class="btn btn-primary mt-2" type="submit">Сохранить</button>-->
<!--    </form>-->
<!--</div>-->
<!--<script>-->
<!--    $('#petPhotoFile').on('change',function(){-->
<!--        //get the file name-->
<!--        var fileName = document.getElementById("petPhotoFile").files[0].name;-->
<!--        //replace the "Choose a file" label-->
<!--        $(this).next('.custom-file-label').html(fileName);-->
<!--    })-->
<!--</script>-->
<!--<script>-->
<!--    // JavaScript for disabling form submissions if there are invalid fields-->
<!--    (function() {-->
<!--      'use strict';-->
<!--      window.addEventListener('load', function() {-->
<!--        // Fetch all the forms we want to apply custom Bootstrap validation styles to-->
<!--        var forms = document.getElementsByClassName('needs-validation');-->
<!--        // Loop over them and formEvent submission-->
<!--        var validation = Array.prototype.filter.call(forms, function(form) {-->
<!--          form.addEventListener('submit', function(event) {-->
<!--            if (form.checkValidity() === false) {-->
<!--              event.preventDefault();-->
<!--              event.stopPropagation();-->
<!--            }-->
<!--            form.classList.add('was-validated');-->
<!--          }, false);-->
<!--        });-->
<!--      }, false);-->
<!--    })();-->
<!--</script>-->
<!--</body>-->
<!--</html>-->