<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="basicDependencies">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </div>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light pb-2">
    <a class="navbar-brand" href="#">БР</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#request.requestURI == '/pedigree' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/pedigree}">Родословная</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   th:classappend="${#strings.startsWith(#request.requestURI,'/edit_pet')
                   or #request.requestURI == '/add/breeder'
                   or #request.requestURI == '/add/species'
                   or #request.requestURI == '/add/color'
                   or #request.requestURI == '/add/breed'
                   ? 'active' : ''}">
                    Добавить
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:classappend="${#strings.startsWith(#request.requestURI,'/edit_pet') ? 'active' : ''}" th:href="@{/edit_pet}">Питомца</a>
                    <a class="dropdown-item" th:classappend="${#request.requestURI == '/add/breeder' ? 'active' : ''}" th:href="@{/add/breeder}">Заводчика</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:classappend="${#request.requestURI == '/add/species' ? 'active' : ''}" th:href="@{/add/species}">Вид</a>
                    <a class="dropdown-item" th:classappend="${#request.requestURI == '/add/color' ? 'active' : ''}" th:href="@{/add/color}">Окрас</a>
                    <a class="dropdown-item" th:classappend="${#request.requestURI == '/add/breed' ? 'active' : ''}" th:href="@{/add/breed}">Породу</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#request.requestURI == '/my_pets' ? 'active' : ''}" th:href="@{/my_pets}">Мои
                    питомцы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Мои заявки</a>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <button class="btn btn-sm btn-outline-secondary mx-1" type="button">Регистрация</button>
        <button class="btn btn-sm btn-outline-primary mx-1" type="button">Вход</button>
        <button class="btn btn-sm btn-outline-warning mx-1" type="button">Выход</button>
    </form>
</nav>
</body>
</html>