<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form method="post" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="species">Вид питомца</label>
                <input type="text" class="form-control" id="species" placeholder="Pet species" value="кролик" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="petName">Имя питомца</label>
                <input type="text" class="form-control" id="petName" placeholder="Pet breederName" required>
            </div>
        </div>
        <label for="radioButtons">Пол питомца</label>

        <div class="form-row">
            <div class="col-md-4 mb-3 ml-3 form-row" id="radioButtons">
                <div class="col-md-4 mb-3 form-check">
                    <input type="radio" class="form-check-input" id="isFemale" breederName="genderRadiobutton">
                    <label class="form-check-label" for="isFemale">Самка</label>
                </div>
                <div class="col-md-4 mb-3 form-check">
                    <input type="radio" class="form-check-input" id="isMale" breederName="genderRadiobutton">
                    <label class="form-check-label" for="isMale">Самец</label>
                </div>
            </div>
            <div class="col-md-4 mb-3">
            <label for="photo">Фото питомца<br></label>

            <input type="file" id="photo">
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="birthDate">Дата рождения</label>
                <input type="text" class="form-control" id="birthDate" placeholder="Birth date" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="metric">Метрика</label>
                <input type="text" class="form-control" id="metric" placeholder="metric" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="breed">Порода питомца</label>
                <input type="text" class="form-control" id="breed" placeholder="Pet species" value="кролик" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="color">Окрас питомца</label>
                <input type="text" class="form-control" id="color" placeholder="Pet color" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last breederName</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last breederName" value="Otto" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username"
                           aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">

            </div>
            <div class="col-md-3 mb-3">

            </div>
            <div class="col-md-3 mb-3">

            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
</div>
<script>
// JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and formEvent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>
</html>