<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-93b8{font-family:"Lucida Console", Monaco, monospace !important;;border-color:inherit;text-align:left}
.tg .tg-uys7{border-color:inherit;text-align:center}
.tg .tg-xldj{border-color:inherit;text-align:left}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}




    </style>
</head>
<body>
<table class="tg" style="table-layout: fixed; width: 1256px; height: 1767px">
    <colgroup>
        <col style="width: 320px">
        <col style="width: 240px">
        <col style="width: 220px">
        <col style="width: 600px">
        <col style="width: 520px">
        <col style="width: 600px">
    </colgroup>
    <tr>
        <th class="tg-uys7" colspan="6" th:text="'Родословная питомца № ' + ${pet.getPedigreeId()}"></th>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="7" border="0px">$$emblem$$</td>
        <td class="tg-uys7" colspan="2" rowspan="7" border="0px"><br>Украинский Молодежный Центр<br>"Кролик и
            компания"<br>www.krolikikompania.com.ua<br>krolik-ko@ukr.net<br>(044) 223-64-86, +380933116963<br><br><br>Секция
            кролиководства<br>"Забавные кролики"<br>питомник<br>"Терем-теремок"
        </td>
        <td class="tg-93b8" th:text="'Кличка: ' + ${pet.getName()} + ' из ' + ${pet.breeder.kennelName}"></td>

        <td class="tg-xldj" th:text="'Пол: ' + ${pet.getGender()}"></td>
        <td class="tg-uys7"
            th:text="'Метрика: ' + ${pet.getMetricId()} + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tattoo: ' + ${pet.getTattoo()}"></td>
    </tr>
    <tr>
        <td class="tg-xldj" colspan="2" th:text="'Порода: ' + ${pet.breed.getBreedName()} + ' ' + ${pet.getFurType().getFurTypeName()}"></td>
        <td class="tg-uys7" rowspan="6">
<!--            <img height="200"  th:src="${pet.getImageAsBase64()}">-->
                        <img style="position:absolute; TOP:123px; LEFT:1948px; WIDTH:519px; HEIGHT:346px; " th:src="${pet.getImageAsBase64()}">
        </td>
    </tr>
    <tr>
        <td class="tg-xldj" colspan="2" th:text="'Окрас: ' + ${pet.color.colorName}"></td>
    </tr>
    <tr>
        <td class="tg-xldj" colspan="2" th:text="'Дата рождения: ' + ${pet.getBirthdayString()}"></td>
    </tr>
    <tr>
        <td class="tg-xldj" colspan="2" th:text="'Заводчик: ' + ${pet.breeder.breederName}"></td>
    </tr>
    <tr>
        <td class="tg-xldj" th:text="'e-mail: ' + ${pet.breeder.email}"></td>
        <td class="tg-xldj" th:text="'Сайт: ' + ${pet.breeder.siteAddress}"></td>
    </tr>
    <tr>
        <td class="tg-xldj" th:text="'Адрес: ' + ${pet.breeder.breederAddress}"></td>
        <td class="tg-xldj" th:text="'Номер телефона: ' + ${pet.breeder.phoneNumber}"></td>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="5">
            <img width=300 height="200" th:src="${pet.getFather().getImageAsBase64()}">
        </td>
        <div>
            <td class="tg-xldj" colspan="2" rowspan="5" th:utext="' <b>Отец</b><br>' + ${pet.father.name} + ' из ' + ${pet.father.breeder.kennelName} + '<br><br><span
                style=font-weight:bold>Порода:</span><br>' + ${pet.father.breed.breedName} + ' ' + ${pet.father.getFurType().getFurTypeName()} + '<br><br><span
                style=font-weight:bold>Окрас:</span><br>' + ${pet.father.color.colorName} + '<br><br><span
                style=font-weight:bold>Дата рождения:</span><br>' + ${pet.father.getBirthdayString()} + '<br>'"></td>
        </div>
        <td class="tg-xldj" rowspan="2" th:utext="'1.0 - <b>' + ${pet.father.father.name} + ' из ' + ${pet.father.father.breeder.kennelName} + '</b><br>' +
             ${pet.father.father.breed.breedName} + ' ' + ${pet.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.color.colorName} + '<br>' +
             ${pet.father.father.getBirthdayString()} + '<br>' +
             ${pet.father.father.breeder.breederName}">$$m21name$$
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'1.0 - <b>' + ${pet.father.father.father.name} + ' из ' + ${pet.father.father.father.breeder.kennelName} + '</b><br>' +
             ${pet.father.father.father.breed.breedName} + ' ' + ${pet.father.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.father.color.colorName} + '<br>' +
             ${pet.father.father.father.getBirthdayString()} + '<br>' +
             ${pet.father.father.father.breeder.breederName}">$$m31name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.father.father.father.father.name} + ' из ' + ${pet.father.father.father.father.breeder.kennelName} + '</b> ' +
             ${pet.father.father.father.father.breed.breedName} + ' ' + ${pet.father.father.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.father.father.color.colorName} + ' ' +
             ${pet.father.father.father.father.getBirthdayString()} + ' ' +
             ${pet.father.father.father.father.breeder.breederName}">1.0 - $$m41name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.father.father.father.mother.name} + ' из ' + ${pet.father.father.father.mother.breeder.kennelName} + '</b> ' +
             ${pet.father.father.father.mother.breed.breedName} + ' ' + ${pet.father.father.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.father.mother.color.colorName} + ' ' +
             ${pet.father.father.father.mother.getBirthdayString()} + ' ' +
             ${pet.father.father.father.mother.breeder.breederName}">0.1 - $$f41name$$</td>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="2"><img height="85"  th:src="${pet.father.father.getImageAsBase64()}"></td>
        <td class="tg-xldj" rowspan="2" th:utext="'0.1 - <b>' + ${pet.father.father.mother.name} + ' из ' + ${pet.father.father.mother.breeder.kennelName} + '</b><br>' +
             ${pet.father.father.mother.breed.breedName} + ' ' + ${pet.father.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.mother.color.colorName} + '<br>' +
             ${pet.father.father.mother.getBirthdayString()} + '<br>' +
             ${pet.father.father.mother.breeder.breederName}">$$f31name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.father.father.mother.father.name} + ' из ' + ${pet.father.father.mother.father.breeder.kennelName} + '</b> ' +
             ${pet.father.father.mother.father.breed.breedName} + ' ' + ${pet.father.father.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.mother.father.color.colorName} + ' ' +
             ${pet.father.father.mother.father.getBirthdayString()} + ' ' +
             ${pet.father.father.mother.father.breeder.breederName}">1.0 - $$m42name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.father.father.mother.mother.name} + ' из ' + ${pet.father.father.mother.mother.breeder.kennelName} + '</b> ' +
             ${pet.father.father.mother.mother.breed.breedName} + ' ' + ${pet.father.father.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.father.mother.mother.color.colorName} + ' ' +
             ${pet.father.father.mother.mother.getBirthdayString()} + ' ' +
             ${pet.father.father.mother.mother.breeder.breederName}">0.1 - $$f42name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" rowspan="2" th:utext="'0.1 - <b>' + ${pet.father.mother.name} + ' из ' + ${pet.father.mother.breeder.kennelName} + '</b><br>' +
             ${pet.father.mother.breed.breedName} + ' ' + ${pet.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.color.colorName} + '<br>' +
             ${pet.father.mother.getBirthdayString()} + '<br>' +
             ${pet.father.mother.breeder.breederName}">$$f21name$$
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'1.0 - <b>' + ${pet.father.mother.father.name} + ' из ' + ${pet.father.mother.father.breeder.kennelName} + '</b><br>' +
             ${pet.father.mother.father.breed.breedName} + ' ' + ${pet.father.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.father.color.colorName} + '<br>' +
             ${pet.father.mother.father.getBirthdayString()} + '<br>' +
             ${pet.father.mother.father.breeder.breederName}">$$m32name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.father.mother.father.father.name} + ' из ' + ${pet.father.mother.father.father.breeder.kennelName} + '</b> ' +
             ${pet.father.mother.father.father.breed.breedName} + ' ' + ${pet.father.mother.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.father.father.color.colorName} + ' ' +
             ${pet.father.mother.father.father.getBirthdayString()} + ' ' +
             ${pet.father.mother.father.father.breeder.breederName}">1.0 - $$m43name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" colspan="3" rowspan="3"><span th:utext="'<b>Заводчик: </b>' + ${pet.father.breeder.breederName}"></span>
        </td>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.father.mother.father.mother.name} + ' из ' + ${pet.father.mother.father.mother.breeder.kennelName} + '</b> ' +
             ${pet.father.mother.father.mother.breed.breedName} + ' ' + ${pet.father.mother.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.father.mother.color.colorName} + ' ' +
             ${pet.father.mother.father.mother.getBirthdayString()} + ' ' +
             ${pet.father.mother.father.mother.breeder.breederName}">0.1 - $$f43name$$</td>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="2"><img height="85"  th:src="${pet.father.mother.getImageAsBase64()}"></td>
        <td class="tg-xldj" rowspan="2" th:utext="'0.1 - <b>' + ${pet.father.mother.mother.name} + ' из ' + ${pet.father.mother.mother.breeder.kennelName} + '</b><br>' +
             ${pet.father.mother.mother.breed.breedName} + ' ' + ${pet.father.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.mother.color.colorName} + '<br>' +
             ${pet.father.mother.mother.getBirthdayString()} + '<br>' +
             ${pet.father.mother.mother.breeder.breederName}">0.1 - $$f32name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.father.mother.mother.father.name} + ' из ' + ${pet.father.mother.mother.father.breeder.kennelName} + '</b> ' +
             ${pet.father.mother.mother.father.breed.breedName} + ' ' + ${pet.father.mother.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.mother.father.color.colorName} + ' ' +
             ${pet.father.mother.mother.father.getBirthdayString()} + ' ' +
             ${pet.father.mother.mother.father.breeder.breederName}">1.0 - $$m44name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.father.mother.mother.mother.name} + ' из ' + ${pet.father.mother.mother.mother.breeder.kennelName} + '</b> ' +
             ${pet.father.mother.mother.mother.breed.breedName} + ' ' + ${pet.father.mother.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.father.mother.mother.mother.color.colorName} + ' ' +
             ${pet.father.mother.mother.mother.getBirthdayString()} + ' ' +
             ${pet.father.mother.mother.mother.breeder.breederName}">0.1 - $$f44name$$</td>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="5"><img width=300 height="200" th:src="${pet.mother.getImageAsBase64()}"></td>
        <td class="tg-xldj" colspan="2" rowspan="5" th:utext="' <b>Мать</b><br>' + ${pet.mother.name} + ' из ' + ${pet.mother.breeder.kennelName} + '<br><br><span
                style=font-weight:bold>Порода:</span><br>' + ${pet.mother.breed.breedName} + ' ' + ${pet.mother.getFurType().getFurTypeName()} + '<br><br><span
                style=font-weight:bold>Окрас:</span><br>' + ${pet.mother.color.colorName} + '<br><br><span
                style=font-weight:bold>Дата рождения:</span><br>' + ${pet.mother.getBirthdayString()} + '<br>'">
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'1.0 - <b>' + ${pet.mother.father.name} + ' из ' + ${pet.mother.father.breeder.kennelName} + '</b><br>' +
             ${pet.mother.father.breed.breedName} + ' ' + ${pet.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.color.colorName} + '<br>' +
             ${pet.mother.father.getBirthdayString()} + '<br>' +
             ${pet.mother.father.breeder.breederName}">$$m22name$$
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'1.0 - <b>' + ${pet.mother.father.father.name} + ' из ' + ${pet.mother.father.father.breeder.kennelName} + '</b><br>' +
             ${pet.mother.father.father.breed.breedName} + ' ' + ${pet.mother.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.father.color.colorName} + '<br>' +
             ${pet.mother.father.father.getBirthdayString()} + '<br>' +
             ${pet.mother.father.father.breeder.breederName}">1.0 - $$m33name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.mother.father.father.father.name} + ' из ' + ${pet.mother.father.father.father.breeder.kennelName} + '</b> ' +
             ${pet.mother.father.father.father.breed.breedName} + ' ' + ${pet.mother.father.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.father.father.color.colorName} + ' ' +
             ${pet.mother.father.father.father.getBirthdayString()} + ' ' +
             ${pet.mother.father.father.father.breeder.breederName}">1.0 - $$m45name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.mother.father.father.mother.name} + ' из ' + ${pet.mother.father.father.mother.breeder.kennelName} + '</b> ' +
             ${pet.mother.father.father.mother.breed.breedName} + ' ' + ${pet.mother.father.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.father.mother.color.colorName} + ' ' +
             ${pet.mother.father.father.mother.getBirthdayString()} + ' ' +
             ${pet.mother.father.father.mother.breeder.breederName}">0.1 - $$f45name$$</td>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="2" >
            <img height="85"  th:src="${pet.mother.father.getImageAsBase64()}">
<!--            $$m22foto$$-->
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'0.1 - <b>' + ${pet.mother.father.mother.name} + ' из ' + ${pet.mother.father.mother.breeder.kennelName} + '</b><br>' +
             ${pet.mother.father.mother.breed.breedName} + ' ' + ${pet.mother.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.mother.color.colorName} + '<br>' +
             ${pet.mother.father.mother.getBirthdayString()} + '<br>' +
             ${pet.mother.father.mother.breeder.breederName}">0.1 - $$f33name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.mother.father.mother.father.name} + ' из ' + ${pet.mother.father.mother.father.breeder.kennelName} + '</b> ' +
             ${pet.mother.father.mother.father.breed.breedName} + ' ' + ${pet.mother.father.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.mother.father.color.colorName} + ' ' +
             ${pet.mother.father.mother.father.getBirthdayString()} + ' ' +
             ${pet.mother.father.mother.father.breeder.breederName}">1.0 - $$m46name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.mother.father.mother.mother.name} + ' из ' + ${pet.mother.father.mother.mother.breeder.kennelName} + '</b> ' +
             ${pet.mother.father.mother.mother.breed.breedName} + ' ' + ${pet.mother.father.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.father.mother.mother.color.colorName} + ' ' +
             ${pet.mother.father.mother.mother.getBirthdayString()} + ' ' +
             ${pet.mother.father.mother.mother.breeder.breederName}">0.1 - $$f46name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" rowspan="2" th:utext="'0.1 - <b>' + ${pet.mother.mother.name} + ' из ' + ${pet.mother.mother.breeder.kennelName} + '</b><br>' +
             ${pet.mother.mother.breed.breedName} + ' ' + ${pet.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.color.colorName} + '<br>' +
             ${pet.mother.mother.getBirthdayString()} + '<br>' +
             ${pet.mother.mother.breeder.breederName}">$$f22name$$
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'1.1 - <b>' + ${pet.mother.mother.father.name} + ' из ' + ${pet.mother.mother.father.breeder.kennelName} + '</b><br>' +
             ${pet.mother.mother.father.breed.breedName} + ' ' + ${pet.mother.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.father.color.colorName} + '<br>' +
             ${pet.mother.mother.father.getBirthdayString()} + '<br>' +
             ${pet.mother.mother.father.breeder.breederName}">1.0 - $$m34name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.mother.mother.father.father.name} + ' из ' + ${pet.mother.mother.father.father.breeder.kennelName} + '</b> ' +
             ${pet.mother.mother.father.father.breed.breedName} + ' ' + ${pet.mother.mother.father.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.father.father.color.colorName} + ' ' +
             ${pet.mother.mother.father.father.getBirthdayString()} + ' ' +
             ${pet.mother.mother.father.father.breeder.breederName}">1.0 - $$m47name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" colspan="3" rowspan="3"><span th:utext="'<b>Заводчик: </b>' + ${pet.mother.breeder.breederName}" ></span>
        </td>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.mother.mother.father.mother.name} + ' из ' + ${pet.mother.mother.father.mother.breeder.kennelName} + '</b> ' +
             ${pet.mother.mother.father.mother.breed.breedName} + ' ' + ${pet.mother.mother.father.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.father.mother.color.colorName} + ' ' +
             ${pet.mother.mother.father.mother.getBirthdayString()} + ' ' +
             ${pet.mother.mother.father.mother.breeder.breederName}">0.1 - $$f47name$$</td>
    </tr>
    <tr>
        <td class="tg-uys7" rowspan="2">
            <img height="85"  th:src="${pet.mother.mother.getImageAsBase64()}">
<!--            $$f22foto$$-->
        </td>
        <td class="tg-xldj" rowspan="2" th:utext="'0.1 - <b>' + ${pet.mother.mother.mother.name} + ' из ' + ${pet.mother.mother.mother.breeder.kennelName} + '</b><br>' +
             ${pet.mother.mother.mother.breed.breedName} + ' ' + ${pet.mother.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.mother.color.colorName} + '<br>' +
             ${pet.mother.mother.mother.getBirthdayString()} + '<br>' +
             ${pet.mother.mother.mother.breeder.breederName}">0.1 - $$f34name$$
        </td>
        <td class="tg-xldj" th:utext="'1.0 - <b>' + ${pet.mother.mother.mother.father.name} + ' из ' + ${pet.mother.mother.mother.father.breeder.kennelName} + '</b> ' +
             ${pet.mother.mother.mother.father.breed.breedName} + ' ' + ${pet.mother.mother.mother.father.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.mother.father.color.colorName} + ' ' +
             ${pet.mother.mother.mother.father.getBirthdayString()} + ' ' +
             ${pet.mother.mother.mother.father.breeder.breederName}">1.0 - $$m48name$$</td>
    </tr>
    <tr>
        <td class="tg-xldj" th:utext="'0.1 - <b>' + ${pet.mother.mother.mother.mother.name} + ' из ' + ${pet.mother.mother.mother.mother.breeder.kennelName} + '</b> ' +
             ${pet.mother.mother.mother.mother.breed.breedName} + ' ' + ${pet.mother.mother.mother.mother.getFurType().getFurTypeName()} + '<br>' +
             ${pet.mother.mother.mother.mother.color.colorName} + ' ' +
             ${pet.mother.mother.mother.mother.getBirthdayString()} + ' ' +
             ${pet.mother.mother.mother.mother.breeder.breederName}">0.1 - $$f48name$$</td>
    </tr>
    <tr>
        <td class="tg-uys7" colspan="4" th:text="'Дата выдачи: ' + ${creationDate}">Дата выдачи: $$issueDate$$</td>
        <td class="tg-xldj" colspan="2">Подпись:</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="6">За дефекты и изменения, появившиеся после продажи питомца, заводчик
            ответственности не несет.
        </td>
    </tr>
</table>
</body>
